
<div class="wrapper">
  <div class="content">
    <h1>Welcome to Gruesome Island</h1>
    <hr>
    <h2>Enter your username to begin</h2>
    
    <mat-form-field class="usernameWrapper">
      <mat-label class="username" >Username</mat-label> 
      <input matInput [disabled]="usernameDisabled" [(ngModel)]="username" appearance="filled" (keyup.enter)="usernameEntered()">
    </mat-form-field>
    
    <div *ngIf="mainBoxShown">
      <pre *ngFor="let msg of messages">
        <label class="messages">{{msg}}</label>
      </pre>
      <mat-form-field>
        <mat-label class="command">Command</mat-label>
        <input matInput [disabled]="commandDisabled" autocomplete="off" [(ngModel)]="command" appearance="filled" (keyup.enter)="runCommand()">
      </mat-form-field>
    </div>
    
    <div class="bottomPad">
      <hr>
    </div>
  </div>
</div>