
<div class="wrapper">
  <div class="content">
    <h1>Welcome to Gruesome Island</h1>
    <hr>
    <h2>Enter your username to begin</h2>
    
    <mat-form-field>
      <mat-label>Username</mat-label> 
      <input matInput [(ngModel)]="username" appearance="filled" (keyup.enter)="usernameEntered()">
    </mat-form-field>
    
    <div *ngIf="mainBoxShown">
      <p *ngFor="let msg of messages">
        {{msg}}
      </p>
      <mat-form-field>
        <mat-label>Command</mat-label>
        <input matInput [(ngModel)]="command" appearance="filled" (keyup.enter)="runCommand()">
      </mat-form-field>
    </div>
  </div>
  
</div>