.wrapper {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

h1 {
    color: whitesmoke;
}

h2 {
    color: whitesmoke;
}

mat-label {
    color: whitesmoke;
}

mat-form-field {
    width: 100%;
}

p {
    color: whitesmoke;
}
