.wrapper {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

h1 {
    color: cornsilk;
}

h2 {
    color: cornsilk;
}

mat-label {
    color: cornsilk;
}

mat-form-field {
    width: 100%;
}

.bottomPad {
    padding-top: 100px;
}

.command {
    color:cornsilk;
}

.username {
    color:black;
}

.messages {
    color: cornsilk;
}